aiobotocore==2.1.2; python_version >= "3.7"
aiohttp==3.8.1; python_version >= "3.7"
aioitertools==0.10.0; python_version >= "3.7"
aiosignal==1.2.0; python_version >= "3.7"
async-timeout==4.0.2; python_version >= "3.7"
atomicwrites==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.4.0"
attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.5.0" and python_version >= "3.7" and python_version < "4.0"
aws-sam-translator==1.42.0; python_version >= "3.6" and python_version < "4.0"
aws-xray-sdk==2.9.0; python_version >= "3.6"
awscli-plugin-endpoint==0.4
awscli==1.22.24; python_version >= "3.6"
boto3==1.20.24; python_version >= "3.6"
botocore==1.23.24; python_version >= "3.7"
certifi==2021.10.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
cffi==1.15.0; python_version >= "3.6"
cfn-lint==0.58.2; python_version >= "3.6" and python_version < "4.0"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3.7"
click==8.0.4; python_version >= "3.6"
colorama==0.4.3; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" and platform_system == "Windows" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.5.0" and platform_system == "Windows"
cryptography==36.0.1
docker==5.0.3; python_version >= "3.6"
docutils==0.15.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
ecdsa==0.17.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.3.0"
flask-cors==3.0.10; python_version >= "3.6"
flask==2.0.3; python_version >= "3.6"
frozenlist==1.3.0; python_version >= "3.7"
fsspec==2022.2.0; python_version >= "3.7"
future==0.18.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.3.0"
graphql-core==3.2.0; python_version >= "3.6" and python_version < "4"
idna==3.3; python_version >= "3.7" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
iniconfig==1.1.1; python_version >= "3.6"
itsdangerous==2.1.0; python_version >= "3.7"
jinja2==3.0.3; python_version >= "3.6"
jmespath==0.10.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
jschema-to-python==1.2.3; python_version >= "3.6" and python_version < "4.0"
jsondiff==1.3.1; python_version >= "3.6"
jsonpatch==1.32; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
jsonpickle==2.1.0; python_version >= "3.6" and python_version < "4.0"
jsonpointer==2.2; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.5.0"
jsonschema==3.2.0; python_version >= "3.6" and python_version < "4.0"
junit-xml==1.9; python_version >= "3.6" and python_version < "4.0"
markupsafe==2.1.0; python_version >= "3.7"
moto==3.0.6; python_version >= "3.6"
multidict==6.0.2; python_version >= "3.7"
networkx==2.7.1; python_version >= "3.8" and python_version < "4.0"
packaging==21.3; python_version >= "3.6"
pbr==5.8.1; python_version >= "3.6" and python_version < "4.0"
pluggy==1.0.0; python_version >= "3.6"
py==1.11.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pyasn1==0.4.8; python_version >= "3.6" and python_version < "4"
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pyparsing==3.0.7; python_version >= "3.6"
pyrsistent==0.18.1; python_version >= "3.7" and python_version < "4.0"
pytest-env==0.6.2
pytest==7.0.1; python_version >= "3.6"
python-dateutil==2.8.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
python-jose==3.3.0; python_version >= "3.6"
pytz==2021.3; python_version >= "3.6"
pywin32==227; python_version >= "3.6" and sys_platform == "win32"
pyyaml==5.4.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.6.0" and python_version >= "3.6" and python_version < "4.0"
requests==2.27.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
responses==0.18.0; python_version >= "3.7"
rsa==4.7.2; python_version >= "3.6" and python_version < "4"
s3fs==2022.2.0; python_version >= "3.7"
s3transfer==0.5.2; python_version >= "3.6"
sarif-om==1.0.4; python_version >= "3.6" and python_version < "4.0"
six==1.16.0; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.3.0" and python_version >= "3.6" and python_version < "4.0"
sshpubkeys==3.3.1; python_version >= "3.6"
tomli==2.0.1; python_version >= "3.7"
urllib3==1.26.8; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
visidata==2.8; python_version >= "3.6"
websocket-client==1.3.1; python_version >= "3.6"
werkzeug==2.0.3; python_version >= "3.6"
wrapt==1.13.3; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
xmltodict==0.12.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
yarl==1.7.2; python_version >= "3.7"
